<div class="fluid-container">
  <header class="bg-black text-white text-center pt-4 pb-4">
    <h1>Kanji Finder</h1>
    <h2>Kanji Flashcard Cross-Reference tool</h2>
  </header>

  <div class="container align-content-center pt-5">

    <form>
      <h2>Lookup kanji to find the White Rabbit Press Kanji Card Id</h2>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Enter one or more kanji characters</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" (keyup)="search($event)">
      </div>
      <button type="submit" class="btn btn-primary"><i class="bi bi-heart"></i> Save this search</button>
    </form>

  </div>

  <div class="container pt-5">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Kanji</th>
          <th scope="col">Card ID</th>
          <th scope="col">Flashcard Set</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let kanji of filteredKanjis" (click)="openWanikani(kanji)">
          <td><a target="_blank" class="link-info" [href]="">{{kanji.kanji}}</a></td>
          <td>{{kanji.id}}</td>
          <td>{{kanji.set}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
